<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="mail">
    </div>
  </div>

  <div class="form-group row">
  <label class="col-2 col-form-label">Pasatiempos</label>
  
  <button (click)="agregarPasatiempo()" type="button" class="btn btn-primary m-4">
    Nuevo Pasatiempo
  </button>

  <div *ngFor="let pasatiempo of formData.controls; let i=index" class="col-md-8" formArrayName="pasatiempos" >
    <input [formControlName]="i" type="text" class="form-control">
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Nombre de Usuario"
             formControlName="username">
    </div>
  </div>
  
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Repetir Password"
             formControlName="password2">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
       
    </div>
  </div>
  {{forma.valid}}
  <br>
  {{forma.status}}

</form>